body {
    background-color: rgba(227, 117, 216, 0.733);
    text-align: center;
}
h1 {
    text-decoration: underline;
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    box-shadow: 20px 20px 20px;
    border-radius: 20px 5px;
}
